doctype html
html
    head
            title Big coder Giveaway (MousePad + RGB Mouse and KeyBoard)
            meta(
                http-equiv="refresh" 
                content="0; url=https://gleam.io/51y7f/pro-coder-giveaway"
            )

