doctype html
html
  head
    title How to connect with CodeTap
    style.
        html, body {
        height: 100%;
        }
        body{
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-around;
        background-color: lightskyblue;
        }
        .info-card {
        border: 0.2rem solid black;
        padding: 1rem;
        border-radius: 1rem;
        min-width: 45vw;
        text-align: center;
        background-color: #fff;
        }
        h1 {
        font-size: 4vmin;
        color: #B21212;
        }
        a {
        font-size: 3vmin;
        color: #0971B2;
        text-decoration: none;
        padding: 0.2rem;
        border-bottom: 0.1rem solid #0971B2;
        }
  body
    .info-card
      h1 CodeTap on Facebook
      a(href='https://facebook.com/codetap') Get me to CodeTap on Facebook
    .info-card
      h1 CodeTap on YouTube
      a(href='http://codetap.io/youtube') Get me to CodeTap on YouTube
    .info-card
      h1 CodeTap content nicely organized in Playlists
      a(href='https://youtube.com/codetap/playlists') Get me to CodeTap PlayList on YouTube
    .info-card
      h1 CodeTap Live YouTube
      a(href='http://codetap.io/live') Get me to CodeTap Live feed so I can chat like a pro
    .info-card
      h1 Support CodeTap on Patreon
      a(href='http://patreon.com/codetap') For as little as $1 per month help CodeTap Community
    .info-card
      h1 CodeTap on GitHub
      a(href='http://github.com/codetapio') Browse all the open source projects of CodeTap on GitHub
