doctype html
html
    head
            title Resume Marian Zburlea
            meta(
                http-equiv="refresh" 
                content="0; url=http://my-resume.bitbee.uk/asset/doc/CONTRACTS%20ONLY%20-%20resume%20Marian%20Zburlea.docx"
            )

