doctype html
html
    head
            title Get your Free Killer CV Template/title
            meta(
                http-equiv="refresh" 
                content="0; url=http://free-killer-resume.codetap.academy/"
            )
    body
        include ../_component/ga/ga
