doctype html
html
    head
            title Get your Free Killer CV Template/title
            meta(
                http-equiv="refresh" 
                content="3; url=http://free-killer-resume.codetap.io/"
            )
    body
        include ../_component/ga/ga
