doctype html
html
    head
            title Redirect to CodeTap Youtube
            meta(
                http-equiv="refresh" 
                content="0; url=https://goo.gl/b8GD1K"
            )
    body
        img(src="/asset/image/facebook-cover-tall.png", alt="Over 100 FREE step by step lessons of projects started from scratch for beginners")
