$colour-white: #fff;
$colour-black: #000;

$colour-zest: #e67e22;
$colour-buttercup: #f39c12;

$colour-port-gore: #2b265e;
$colour-scooter: #32afc5;

$colour-steel-gray: #282339;
$colour-cement: #917567;

$colour-brick-red: #d12e49;
$colour-porche: #e59654;

$colour-black-russian: #00021B;
$colour-neptune: #82C0AB;
