h1 De la Zero la Angajat v2
h2 Învață cum să construiești website-uri ca un PROfesionist
h3 Unde ne găsești în direct?
.live-show__wrapper
  .live-show
    p Pe FaceBook pe pagina #[b Prin Fapte]
    a(href="https://facebook.com/prinfapte/") https://www.facebook.com/prinfapte/
  .live-show
    p Pe YouTube pe canalul #[b Prin Fapte]
    a(href="https://youtube.com/prinfapte?sub_confirmation=1") https://youtube.com/prinfapte
  .live-show
    p Multe alte informații despre cum funcționează
    a(href="http://info.codetap.io") http://info.codetap.io
  .live-show
    p Vezi elevii care au reușit
    a(href="http://info.codetap.io/#who-made-it") http://info.codetap.io/#who-made-it