.header__wrapper {
  display: flex;
  background-color: #c00;
  color: white;
  width: 100%;
  justify-content: space-around;
  padding: 1rem;
  font-size: 2rem;
  align-items: center;
}

.header__action-label {
  background-color: #fff;
  color: #c00;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.header__wrapper--white {
  background-color: #fff;
  font-size: 2rem;
  padding: 1rem;
}

.header__info strong {
  color: #fabe00;
  font-size: 3rem;
}