.header__wrapper
  .header__action-message
    | Hurry! 80% PreLaunch discount ends in:
  .header__time-left
    | 22:23:12
  
  a.header__action-label(href="https://courses.codetap.io") Start Coding Like a PRO 
