doctype html
html
    head
            title Redirect to Marian Zburlea on stackoverflow
            meta(
                http-equiv="refresh" 
                content="3; url=https://stackoverflow.com/users/2013164/marian-zburlea"
            )

    body
        include ../_component/ga/ga
