doctype html
html
    head
            title Redirect to Marian Zburlea on LinkedIn
            meta(
                http-equiv="refresh" 
                content="3; url=https://linkedin.com/in/marianzburlea"
            )

    body
        include ../_component/ga/ga
