extends _layout/main

block content
  .content
    h1 We work hard
    p Check our temporary info website at:
    a(href="https://info.codetap.academy") https://info.codetap.academy
    include _component/ga/ga
